{% extends 'base.html' %}

{% block content %}

    <h1 style="margin-bottom: 5%; margin-top: 5%;">Create an Offer</h1>



    <form method="post">


        <div class="container">
            <div class="row">
                <div class="col-md">

                    <div class="row justify-content-center mt-1 ">
                        <img src="static/image/artifacts/Orb_1-0.png" alt="..." class="img-fluid">
                    </div>

                    <div class="row">
                        <div class="col-12 text-center mb-2 mt-2">

                            <input type="checkbox"
                                   name="offer_orb_type"
                                   id="blankCheckbox"
                                   value="orb" aria-label="close">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <select name="offer_orb_lvl" class="custom-select custom-select-lg ">
                                <option value="null" selected>Level</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input name="offer_orb_amount"
                                   class="form-control form-control-lg"
                                   type="number"
                                   min="0"
                                   max="999"
                                   placeholder="Amount"
                                   id="amount-input">
                        </div>
                    </div>
                </div>

                <div class="col-md">

                    <div class="row justify-content-center mt-1">
                        <img src="static/image/artifacts/Bluecrystal_1.png" alt="..." class="img-fluid">
                    </div>


                    <div class="row">
                        <div class="col-12 text-center mb-2 mt-2">

                            <input type="checkbox"
                                   name="offer_bluecrystal_type"
                                   id="blankCheckbox"
                                   value="bluecrystal"
                                   aria-label="...">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <select name="offer_bluecrystal_lvl" class="custom-select custom-select-lg">
                                <option value="null" selected>Level</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input name="offer_bluecrystal_amount"
                                   class="form-control form-control-lg"
                                   type="number"
                                   min="0"
                                   max="999"
                                   placeholder="Amount"
                                   id="amount-input">
                        </div>
                    </div>
                </div>

                <div class="col-md">

                    <div class="row justify-content-center mt-1">
                        <img src="static/image/artifacts/Tetrahedron_2.png" alt="..." class="img-fluid">
                    </div>


                    <div class="row">
                        <div class="col-12 text-center mb-2 mt-2">

                            <input type="checkbox"
                                   name="offer_tetrahedron_type"
                                   id="blankCheckbox"
                                   value="tetrahedron" aria-label="...">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <select name="offer_tetrahedron_lvl" class="custom-select custom-select-lg">
                                <option value="null" selected>Level</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input name="offer_tetrahedron_amount"
                                   class="form-control form-control-lg"
                                   type="number"
                                   placeholder="Amount"
                                   min="0"
                                   max="999"
                                   id="amount-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 mt-4"><h1>My Demand</h1>
            </div>


            <div class="row">
                <div class="col-md">

                    <div class="row justify-content-center mt-1">
                        <img id="demand-orb-img" src="static/image/artifacts/Orb_1.png" alt="..." class="img-fluid">
                    </div>

                    <div class="row">
                        <div class="col-12 text-center mb-2 mt-2">

                            <input type="checkbox"
                                   id="blankCheckbox"
                                   value="orb" aria-label="..."
                                   name="demand_orb_type">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <select name="demand_orb_lvl" class="custom-select custom-select-lg"  onchange="updateImage(this, '#demand-orb-img');">
                                <option value="null" selected>Level</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input name="demand_orb_amount"
                                   class="form-control form-control-lg"
                                   type="number"
                                   min="0"
                                   max="999"
                                   placeholder="Amount"
                            >
                        </div>
                    </div>
                </div>

                <div class="col-md">

                    <div class="row justify-content-center mt-1">
                        <img id="demand-bluecrystal-img" src="static/image/artifacts/Bluecrystal_1.png" alt="..." class="img-fluid">
                    </div>


                    <div class="row">
                        <div class="col-12 text-center mb-2 mt-2">

                            <input type="checkbox"
                                   id="blankCheckbox"
                                   value="bluecrystal"
                                   aria-label="..."
                                   name="demand_bluecrystal_type">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <select name="demand_bluecrystal_lvl" class="custom-select custom-select-lg"  onchange="updateImage(this, '#demand-bluecrystal-img');">
                                <option value="null" selected>Level</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input name="demand_bluecrystal_amount"
                                   class="form-control form-control-lg"
                                   type="number"
                                   min="0"
                                   max="999"
                                   placeholder="Amount"
                            >
                        </div>
                    </div>
                </div>

                <div class="col-md">

                    <div class="row justify-content-center mt-1">
                        <img id="demand-tetra-img" src="static/image/artifacts/Tetrahedron_2.png" alt="..." class="img-fluid">
                    </div>


                    <div class="row">
                        <div class="col-12 text-center mb-2 mt-2">

                            <input type="checkbox"
                                   name="demand_tetrahedron_type"
                                   id="blankCheckbox"
                                   value="tetrahedron"
                                   aria-label="...">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <select name="demand_tetrahedron_lvl" class="custom-select custom-select-lg" onchange="updateImage(this, '#demand-tetra-img');">
                                <option value="null" selected>Level</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input name="demand_tetrahedron_amount"
                                   min="0"
                                   max="999"
                                   class="form-control form-control-lg"
                                   type="number"
                                   placeholder="Amount"
                            >
                        </div>
                    </div>
                </div>
            </div>


            <input type="submit" value="Create">
    </form>



    <script>
        function updateImage(element, selector){

            value = element.value === "null"? "1": element.value;

            if (selector.includes('tetra')){
                url = `static/image/artifacts/Tetrahedron_${value}.png`;
            } else if (selector.includes('orb')){
                url = `static/image/artifacts/Orb_${value}.png`;
            } else if (selector.includes('bluecrystal')){
                url = `static/image/artifacts/Bluecrystal_${value}.png`;
            }

            img = document.querySelector(selector);
            img.src = url;
        };
    </script>



{% endblock %}